.ba-grid {
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.ba-grid #child-0 {
    grid-area: 2/1/2/1;
}

.ba-grid #child-1 {
    grid-area: 3/1/3/1;
}

.ba-grid #child-2 {
    grid-area: 4/1/4/1;
}

.ba-grid #child-3 {
    grid-area: 1/2/1/2;
}

.ba-grid #child-4 {
    grid-area: 1/3/1/3;
}

.ba-grid #child-5 {
    grid-area: 2/3/2/3;

}

.ba-grid #child-6 {
    grid-area: 3/3/3/3;
}

.ba-grid #child-7 {
    grid-area: 4/3/4/3;
}
